{% extends 'fresh_inventory/login.html' %}

{% block content %}
<body class=" login" data-admin-utc-offset="0">
    <!-- Container -->
    <div id="container">

      <!-- Header -->
      <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="{% url 'fresh_inventory:table' %}">Registration</a></h1>
        </div>
      </div>
      <!-- END Header -->
      <div class="main" id="main">
        <div class="content">
          <!-- Content -->
          <div id="content" class="colM">
            {{form.non_field_errors}}
            <div id="content-main">
              <form action="" method="post" id="login-form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-row">
                    {{field.errors}}
                    <label for="{{field.auto_id}}">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <div class="submit-row">
                  <input type="submit" value="Register">
                </div>
              </form>
            </div>
            <br class="clear">
          </div>
          <!-- END Content -->
          <div id="footer"></div>
        </div>
      </div>
    </div>
    <!-- END Container -->
  </body>
{%endblock content %}
