{% extends 'main.html' %}

{% block tabtitle %}Fresh Inventory{% endblock %}
{% block title %}Fresh Inventory{% endblock %}

{% block button %}{% url 'fresh_inventory:create' %}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            {% if sort_key == 'rod_id' %}
            <a href="?q=-rod_id">Rod ID ▲</a>
            {% elif sort_key == '-rod_id' %}
            <a href="?q=rod_id">Rod ID ▼</a>
            {% else %}
            <a href="?q=rod_id">Rod ID</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'material' %}
            <a href="?q=-material">Material ▲</a>
            {% elif sort_key == '-material' %}
            <a href="?q=material">Material ▼</a>
            {% else %}
            <a href="?q=material">Material</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'length' %}
            <a href="?q=-length">Length ▲</a>
            {% elif sort_key == '-length' %}
            <a href="?q=length">Length ▼</a>
            {% else %}
            <a href="?q=length">Length</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'created_at' %}
            <a href="?q=-created_at">Created ▲</a>
            {% elif sort_key == '-created_at' %}
            <a href="?q=created_at">Created ▼</a>
            {% else %}
            <a href="?q=created_at">Created</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'updated_at' %}
            <a href="?q=-updated_at">Updated ▲</a>
            {% elif sort_key == '-updated_at' %}
            <a href="?q=updated_at">Updated ▼</a>
            {% else %}
            <a href="?q=updated_at">Updated</a>
            {% endif %}
        </th>

        <th>
            Notes
        </th>
    </tr>

    {% for rod in rods %}

    <tr>
        <td>
            {{ rod.rod_id }}
        </td>

        <td>
            {{ rod.material }}
        </td>

        <td>
            {{ rod.length }} cm
        </td>

        <td>
            {{ rod.created_at|date:'m/d/Y' }}
            {% if rod.created_by %}
                by {{rod.created_by}}
            {% endif %}
        </td>

        <td>
            {{ rod.updated_at|date:'m/d/Y' }}
            {% if rod.updated_by %}
                by {{rod.updated_by}}
            {% endif %}
        </td>

        <td>
            {% for note in rod.rawrodnote_set.all %}
            {% if note.text %}
            <p>&bullet; {{note}}</p>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}