{% extends 'main.html' %}
{% load static %}

{% block tabtitle %}Fresh Inventory{% endblock %}
{% block title %}Fresh Inventory{% endblock %}

{% block button %}{% url 'fresh_inventory:create' %}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            {% if sort_key == 'rod_id' %}
            <a href="?q=-rod_id">Rod ID ▲</a>
            {% elif sort_key == '-rod_id' %}
            <a href="?q=rod_id">Rod ID ▼</a>
            {% else %}
            <a href="?q=rod_id">Rod ID</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'material' %}
            <a href="?q=-material">Material ▲</a>
            {% elif sort_key == '-material' %}
            <a href="?q=material">Material ▼</a>
            {% else %}
            <a href="?q=material">Material</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'length' %}
            <a href="?q=-length">Length ▲</a>
            {% elif sort_key == '-length' %}
            <a href="?q=length">Length ▼</a>
            {% else %}
            <a href="?q=length">Length</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'created_at' %}
            <a href="?q=-created_at">Created ▲</a>
            {% elif sort_key == '-created_at' %}
            <a href="?q=created_at">Created ▼</a>
            {% else %}
            <a href="?q=created_at">Created</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'updated_at' %}
            <a href="?q=-updated_at">Updated ▲</a>
            {% elif sort_key == '-updated_at' %}
            <a href="?q=updated_at">Updated ▼</a>
            {% else %}
            <a href="?q=updated_at">Updated</a>
            {% endif %}
        </th>

        <th>
            Notes
        </th>
    </tr>

    {% for rod in rods %}

    <tr>
        <td class="rod_id">
            {{ rod.rod_id }}
            <a class="update-btn" href="{% url 'fresh_inventory:update' rod.rod_id %}">✎</a>
            <div class="pop-up update-btn" onclick="myFunction({{rod.pk}})">
                <img src="{% static 'img/icons/delete.png' %}" alt="">
                <span class="popup-text" id="myPopup{{rod.pk}}">are you sure?
                    <a href="{% url 'fresh_inventory:delete' rod.rod_id %}">yes</a>
                </span>
            </div>
        </td>

        <td>
            {{ rod.material }}
        </td>

        <td>
            {{ rod.length }} cm
        </td>

        <td>
            {{ rod.created_at|date:'m/d/Y' }}
            {% if rod.created_by %}
                by {{rod.created_by}}
            {% endif %}
        </td>

        <td>
            {{ rod.updated_at|date:'m/d/Y' }}
            {% if rod.updated_by %}
                by {{rod.updated_by}}
            {% endif %}
        </td>

        <td>
            {% for note in rod.rawrodnote_set.all %}
            {% if note.text %}
            <p>&bullet; {{note}}</p>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

</table>
<script>
// When the user clicks on div, open the popup
function myFunction(pk) {
    var popup = document.getElementById(`myPopup${pk}`);
    popup.classList.toggle("show");
}
</script>
{% endblock %}