{% extends 'main.html' %}

{% block tabtitle %}Dry Storage({{rod_name}}){% endblock %}
{% block backbutton %}
<span class="back-button">
    <a href="{% url 'dry_storage_exp:table' %}">◀</a>
</span>
{% endblock backbutton %}
{% block title %}Dry Storage<br>({{rod_name}}){% endblock %}

{% block button %}{% url 'dry_storage:create' rod_name %}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            {% if sort_key == 'rod_id' %}
            <a href="?q=-rod_id">Rod ID ▲</a>
            {% elif sort_key == '-rod_id' %}
            <a href="?q=rod_id">Rod ID ▼</a>
            {% else %}
            <a href="?q=rod_id">Rod ID</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'original_length' %}
            <a href="?q=-original_length">Original Length ▲</a>
            {% elif sort_key == '-original_length' %}
            <a href="?q=original_length">Original Length ▼</a>
            {% else %}
            <a href="?q=original_length">Original Length</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'heating_rate' %}
            <a href="?q=-heating_rate">Heating Rate ▲</a>
            {% elif sort_key == '-heating_rate' %}
            <a href="?q=heating_rate">Heating Rate ▼</a>
            {% else %}
            <a href="?q=heating_rate">Heating Rate</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'cooling_rate' %}
            <a href="?q=-cooling_rate">Cooling Rate ▲</a>
            {% elif sort_key == '-cooling_rate' %}
            <a href="?q=cooling_rate">Cooling Rate ▼</a>
            {% else %}
            <a href="?q=cooling_rate">Cooling Rate</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'max_temperature' %}
            <a href="?q=-max_temperature">Max Temp ▲</a>
            {% elif sort_key == '-max_temperature' %}
            <a href="?q=max_temperature">Max Temp ▼</a>
            {% else %}
            <a href="?q=max_temperature">Max Temp</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'heating_time' %}
            <a href="?q=-heating_time">Heating Time ▲</a>
            {% elif sort_key == '-heating_time' %}
            <a href="?q=heating_time">Heating Time ▼</a>
            {% else %}
            <a href="?q=heating_time">Heating Time</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'cooling_time' %}
            <a href="?q=-cooling_time">Cooling Time ▲</a>
            {% elif sort_key == '-cooling_time' %}
            <a href="?q=cooling_time">Cooling Time ▼</a>
            {% else %}
            <a href="?q=cooling_time">Cooling Time</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'created_at' %}
            <a href="?q=-created_at">Created ▲</a>
            {% elif sort_key == '-created_at' %}
            <a href="?q=created_at">Created ▼</a>
            {% else %}
            <a href="?q=created_at">Created</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'updated_at' %}
            <a href="?q=-updated_at">Updated ▲</a>
            {% elif sort_key == '-updated_at' %}
            <a href="?q=updated_at">Updated ▼</a>
            {% else %}
            <a href="?q=updated_at">Updated</a>
            {% endif %}
        </th>

        <th>
            Notes
        </th>
    </tr>

    {% for rod in rods %}

    <tr>
        <td class="rod_id">
            <a href="{% url 'rod_pieces:table' rod.rod_id %}">{{ rod.rod_id }}</a>
            <a class="update-btn" href="{% url 'dry_storage:update' rod.rod_id %}">✎</a>
        </td>

        <td>
            {% if rod.original_length %}
            {{ rod.original_length }} cm
            {% endif %}
        </td>

        <td>
            {% if rod.heating_rate %}
            {{ rod.heating_rate }} C/s
            {% endif %}
        </td>

        <td>
            {% if rod.cooling_rate %}
            {{ rod.cooling_rate }} C/s
            {% endif %}
        </td>

        <td>
            {% if rod.max_temperature %}
            {{ rod.max_temperature }}&deg;C
            {% endif %}
        </td>

        <td>
            {% if rod.heating_time %}
            {{ rod.heating_time }} h
            {% endif %}
        </td>

        <td>
            {% if rod.cooling_time %}
            {{ rod.cooling_time }} h
            {% endif %}
        </td>

        <td>
            {{ rod.created_at|date:'m/d/Y' }}
            {% if rod.created_by %}
                by {{rod.created_by}}
            {% endif %}
        </td>

        <td>
            {{ rod.updated_at|date:'m/d/Y' }}
            {% if rod.updated_by %}
                by {{rod.updated_by}}
            {% endif %}
        </td>

        <td>
            {% for note in rod.roddrystoragetestnote_set.all %}
            {% if note.text %}
            <p>&bullet; {{note}}</p>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}