{% extends 'main.html' %}

{% block title %}Dry Storage<br>({{rod_name}}){% endblock %}
{% block tabtitle %}Dry Storage<br>({{rod_name}}){% endblock %}

{% block button %}{% url 'dry_storage:create' rod_name %}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            <a href="?q=rod_id">Rod ID</a>
        </th>

        <th>
            <a href="?q=original_length">Original Length</a>
        </th>

        <th>
            <a href="?q=heating_rate">Heating Rate</a>
        </th>

        <th>
            <a href="?q=cooling_rate">Cooling Rate</a>
        </th>

        <th>
            <a href="?q=max_temperature">Max Temp</a>
        </th>

        <th>
            <a href="?q=heating_time">Heating Time</a>
        </th>

        <th>
            <a href="?q=cooling_time">Cooling Time</a>
        </th>

        <th>
            <a href="?q=created_at">Created</a>
        </th>

        <th>
            <a href="?q=updated_at">Updated</a>
        </th>

        <th>
            Notes
        </th>
    </tr>

    {% for rod in rods %}

    <tr>
        <td>
            <a href="{% url 'rod_pieces:table' rod.rod_id %}">{{ rod.rod_id }}</a>
        </td>

        <td>
            {{ rod.original_length }} cm
        </td>

        <td>
            {{ rod.heating_rate }} C/s
        </td>

        <td>
            {{ rod.cooling_rate }} C/s
        </td>

        <td>
            {{ rod.max_temperature }}&deg;C
        </td>

        <td>
            {{ rod.heating_time }} h
        </td>

        <td>
            {{ rod.cooling_time }} h
        </td>

        <td>
            {{ rod.created_at|date:'m/d/Y' }}
            {% if rod.created_by %}
                by {{rod.created_by}}
            {% endif %}
        </td>

        <td>
            {{ rod.updated_at|date:'m/d/Y' }}
            {% if rod.updated_by %}
                by {{rod.updated_by}}
            {% endif %}
        </td>

        <td>
            {% for note in rod.roddrystoragetestnote_set.all %}
            {% if note.text %}
            <p>&bullet; {{note}}</p>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}