{% extends 'main.html' %}
{% load filters %}

{% block title %}{{rod_name}}{% endblock %}
{% block backbutton %}
{% with original_rod=rod_name|original_rod %}
<span class="back-button">
    {% if 'TE' in original_rod %}
    <a href="{% url 'temperature_excursions:table' original_rod %}">◀</a>
    {% else %}
    <a href="{% url 'dry_storage:table' original_rod %}">◀</a>
    {% endif %}
</span>
{% endwith %}
{% endblock backbutton %}
{% block tabtitle %}{{rod_name}}{% endblock %}

{% block button %}{% url 'rod_pieces:create' rod_name %}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            {% if sort_key == 'rod_id' %}
            <a href="?q=-rod_id">Rod ID ▲</a>
            {% elif sort_key == '-rod_id' %}
            <a href="?q=rod_id">Rod ID ▼</a>
            {% else %}
            <a href="?q=rod_id">Rod ID</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'analysis_technique' %}
            <a href="?q=-analysis_technique">Analysis Technique ▲</a>
            {% elif sort_key == '-analysis_technique' %}
            <a href="?q=analysis_technique">Analysis Technique ▼</a>
            {% else %}
            <a href="?q=analysis_technique">Analysis Technique</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'sample_state' %}
            <a href="?q=-sample_state">Sample State ▲</a>
            {% elif sort_key == '-sample_state' %}
            <a href="?q=sample_state">Sample State ▼</a>
            {% else %}
            <a href="?q=sample_state">Sample State</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'created_at' %}
            <a href="?q=-created_at">Created ▲</a>
            {% elif sort_key == '-created_at' %}
            <a href="?q=created_at">Created ▼</a>
            {% else %}
            <a href="?q=created_at">Created</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'updated_at' %}
            <a href="?q=-updated_at">Updated ▲</a>
            {% elif sort_key == '-updated_at' %}
            <a href="?q=updated_at">Updated ▼</a>
            {% else %}
            <a href="?q=updated_at">Updated</a>
            {% endif %}
        </th>

        <th>
            Notes
        </th>
    </tr>

    {% for rod in rods %}

    <tr>
        <td class="rod_id">
            {{ rod.rod_id }}
            <a class="update-btn" href="">✎</a>
        </td>

        <td>
            {{ rod.analysis_technique }}
        </td>

        <td>
            {% if rod.sample_state %}
            {{ rod.sample_state }}
            {% endif %}
        </td>

        <td>
            {{ rod.created_at|date:'m/d/Y' }}
            {% if rod.created_by %}
                by {{rod.created_by}}
            {% endif %}
        </td>

        <td>
            {{ rod.updated_at|date:'m/d/Y' }}
            {% if rod.updated_by %}
                by {{rod.updated_by}}
            {% endif %}
        </td>

        <td>
            {% for note in rod.rodpiecenote_set.all %}
            {% if note.text %}
            <p>&bullet; {{note}}</p>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}