{% extends 'main.html' %}

{% block title %}Temperature Excursions{% endblock %}
{% block tabtitle %}Temperature Excursions{% endblock %}

{% block button %}{% url 'temperature_excursions_exp:create' %}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            {% if sort_key == 'exp_id' %}
            <a href="?q=-exp_id">Experiment ID ▲</a>
            {% elif sort_key == '-exp_id' %}
            <a href="?q=exp_id">Experiment ID ▼</a>
            {% else %}
            <a href="?q=exp_id">Experiment ID</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'material' %}
            <a href="?q=-material">Material ▲</a>
            {% elif sort_key == '-material' %}
            <a href="?q=material">Material ▼</a>
            {% else %}
            <a href="?q=material">Material</a>
            {% endif %}
        </th>

        <th>
            Quenched
        </th>

        <th>
            {% if sort_key == 'created_at' %}
            <a href="?q=-created_at">Created ▲</a>
            {% elif sort_key == '-created_at' %}
            <a href="?q=created_at">Created ▼</a>
            {% else %}
            <a href="?q=created_at">Created</a>
            {% endif %}
        </th>

        <th>
            {% if sort_key == 'updated_at' %}
            <a href="?q=-updated_at">Updated ▲</a>
            {% elif sort_key == '-updated_at' %}
            <a href="?q=updated_at">Updated ▼</a>
            {% else %}
            <a href="?q=updated_at">Updated</a>
            {% endif %}
        </th>

        <th>
            Notes
        </th>
    </tr>

    {% for rod in rods %}

    <tr>
        <td class="rod_id">
            <a href="{% url 'temperature_excursions:table' rod.exp_id %}">{{ rod.exp_id }}</a>
            <a class="update-btn" href="">✎</a>
        </td>

        <td>
            {{ rod.material.material }}
        </td>

        <td>
            {% if rod.quenched %}
            Y
            {% else %}
            N
            {% endif %}
        </td>

        <td>
            {{ rod.created_at|date:'m/d/Y' }}
            {% if rod.created_by %}
                by {{rod.created_by}}
            {% endif %}
        </td>

        <td>
            {{ rod.updated_at|date:'m/d/Y' }}
            {% if rod.updated_by %}
                by {{rod.updated_by}}
            {% endif %}
        </td>

        <td>
            {% for note in rod.temperatureexcursionexpnote_set.all %}
            {% if note.text %}
            <p>&bullet; {{note}}</p>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}