{% extends 'main.html' %}

{% block title %}Fresh Inventory{% endblock %}

{% block content %}
<table>
    <tr>
        <th>
            Rod ID
        </th>

        <th>
            Material
        </th>

        <th>
            Original Length
        </th>

        <th>
            Power
        </th>

        <th>
            Max Temp
        </th>

        <th>
            Heating Time
        </th>

        <th>
            Quenched
        </th>

        <th>
            Created
        </th>

        <th>
            Updated
        </th>

        <th>
            Notes
        </th>
    </tr>

    {% for rod in rods %}

    <tr>
        <td>
            {{ rod.rod_id }}
        </td>

        <td>
            {{ rod.material.material }}
        </td>

        <td>
            {{ rod.original_length }} cm
        </td>

        <td>
            {{ rod.power }}%
        </td>

        <td>
            {{ rod.max_temperature }} C
        </td>

        <td>
            {{ rod.heating_time }} s
        </td>

        <td>
            {% if rod.quenched %}
            Y
            {% else %}
            N
            {% endif %}
        </td>

        <td>
            {{ rod.created_at|date:'m/d/Y' }}
            {% if rod.created_by %}
                by {{rod.created_by}}
            {% endif %}
        </td>

        <td>
            {{ rod.updated_at|date:'m/d/Y' }}
            {% if rod.updated_by %}
                by {{rod.updated_by}}
            {% endif %}
        </td>

        <td>
            {% for note in rod.rodtemperaturetestnote_set.all %}
            {% if note.text %}
            <p>&bullet; {{note}}</p>
            {% endif %}
            {% endfor %}
        </td>
    </tr>

    {% endfor %}

</table>
{% endblock %}