* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: rgb(88, 98, 188);
    height: 100%;
}

.container {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: auto;
}

.login-bar {
    padding: 3%;
    padding-bottom: 0;
    text-align: right;
    font-size: x-large;
}

.login-bar span {
    padding-right: 4%;
    color: rgb(34, 39, 84);
}

.login-bar a {
    transition: 0.15s;
}

.login-bar a:hover {
    color: rgb(34, 39, 84);
}

.container main h1 {
    margin: 5%;
    text-align: center;
}

.container main form {
    margin-left: 1em;
}

.side-bar {
    background-color: rgb(34, 39, 84);
}

.side-bar-text {
    padding: 6% 5% 1% 6%;
}

.side-bar-text p {
    font-size: large;
    padding-bottom: 15%;
}

.side-bar-text p:first-child {
    font-size: xx-large;
    padding-bottom: 25%;
}

.side-bar-text p a:hover {
    transition: 0.15s;
}

.side-bar-text p a:hover {
    color: rgb(88, 98, 188);
}

main {
    background-color: rgb(88, 98, 188);
}

.rod-table {
    margin: 1% 2% 8em 2%;
}

.control-panel {
    margin-left: 1.5px;
    display: flex;
    align-items: center;
}

.add-button {
    padding: 0.25em 3% 0.25em 3%;
    border: 1px solid rgb(34, 39, 84);
    border-radius: 6px;
    color: rgb(34, 39, 84);
    font-weight: bolder;
    background-color: rgb(216, 218, 240);
    transition: 0.15s;
}

.add-button:hover {
    color: rgb(216, 218, 240);
    background-color: rgb(34, 39, 84);
}

input {
    color: rgb(34, 39, 84);
    background-color: rgb(216, 218, 240);
    border: 1px solid rgb(34, 39, 84);
    border-radius: 6px;
    outline: none;
}

input[type=text] {
    box-sizing: border-box;
    padding: 0.15em;
    padding-left: 0.25em;
    font-size: large;
}

::placeholder {
    color: rgb(34, 39, 84);
}

table {
    margin-top: 1%;
    width: 100%;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

th, td {
    border-collapse: collapse;
}

table tr td a {
    color: rgb(88, 98, 188);
    text-decoration: underline;
    transition: 0.15s;
}

table tr td a:hover {
    color: rgb(34, 39, 84);
    text-decoration: none;
}

th, td {
    font-size: smaller;
    text-align: left;
    padding: 0.6%;
}

th {
    background-color: rgb(34, 39, 84);
}

td, td p {
    color: black;
}

tr:nth-child(even) {background-color: rgb(207, 213, 234);}

tr:nth-child(odd) {background-color: rgb(233, 235, 245);}
