{% extends 'main.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/forms.css'%}">
{% endblock %}

{% block tabtitle %}Fresh Inventory{% endblock %}

{% block title %}Fresh Inventory{% endblock %}

{% block control_panel %}{% endblock %}
{% block content %}
<form class="creation" action="" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="field">
        {{field.errors}}
        <label for="">{{field.label}}:</label>
        {{field}}
    </div>
    {% endfor %}
    <div class="field">
      <input  class="create-button add-button"  type="submit" value="Add">
    </div>
</form>
{% endblock %}